/* global */
@import url(vendor/normalize.css);
@import url(vendor/fonts.css);
@import url(blocks/body/body.css);
@import url(blocks/page/page.css);

/* header */
@import url(blocks/header/header.css);
@import url(blocks/header/__logo/header__logo.css);
@import url(blocks/header/__informer/header__informer.css);
@import url(blocks/header/__link/header__link.css);
@import url(blocks/header/__link/_type/header__link_type_mobile.css);
@import url(blocks/header/__user/header__user.css);
@import url(blocks/header/__user/_type/header__user_type_mobile.css);
@import url(blocks/header/__base/header__base.css);
@import url(blocks/header/__informer/_type/header__informer_type_mobile.css);
@import url(blocks/header/__informer/_type/header__informer_type_register.css);
@import url(blocks/header/__button/header__button.css);
@import url(blocks/header/__button/_type/header__button_type_menu.css);
@import url(blocks/header/__button/_type/header__button_type_close.css);


/* profile */
@import url(blocks/profile/profile.css);
@import url(blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(blocks/profile/__avatar/profile__avatar.css);
@import url(blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(blocks/profile/__info/profile__info.css);
@import url(blocks/profile/__title/profille__title.css);
@import url(blocks/profile/__subtitle/profile__subtitle.css);
@import url(blocks/profile/__edit-button/profile__edit-button.css);
@import url(blocks/profile/__add-button/profile__add-button.css);

/* elements */
@import url(blocks/elements/elements.css);

/* element */
@import url(blocks/element/element.css);
@import url(blocks/element/__image/element__image.css);
@import url(blocks/element/__title/element__title.css);
@import url(blocks/element/__favorite/element__favorite.css);
@import url(blocks/element/__favorite/_active/element__favorite_active.css);
@import url(blocks/element/__likes/element__likes.css);
@import url(blocks/element/__delete-button/element__delete-button.css);

/* footer */
@import url(blocks/footer/footer.css);
@import url(blocks/footer/__copyright/footer__copyright.css);

/* form */
@import url(blocks/form/form.css);
@import url(blocks/form/__input/form__input.css);
@import url(blocks/form/__input/_color/form__input_color_white.css);
@import url(blocks/form/__input/_error-style/form__input_error-style.css);
@import url(blocks/form/__input/_error-text/form__input_error-text.css);
@import url(blocks/form/__error-text/form__error-text.css);
@import url(blocks/form/__error-text/_active/form__error-text_active.css);

/* popup */
@import url(blocks/popup/popup.css);
@import url(blocks/popup/_opened/popup_opened.css);
@import url(blocks/popup/__container/popup__container.css);
@import url(blocks/popup/__form/popup__form.css);
@import url(blocks/popup/__close-button/popup__close-button.css);
@import url(blocks/popup/__title/popup__title.css);
@import url(blocks/popup/__input/popup__input.css);
@import url(blocks/popup/__input/_error-style/popup__input_error-style.css);
@import url(blocks/popup/__error-text/popup__error-text.css);
@import url(blocks/popup/__error-text/_active/popup__error-text_active.css);
@import url(blocks/popup/__save-button/popup__save-button.css);
@import url(blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);
@import url(blocks/popup/__image/popup__image.css);
@import url(blocks/popup/_name/popup_name_image.css);
@import url(blocks/popup/__image-title/popup__image-title.css);
@import url(blocks/popup/__image/popup__image.css);
@import url(blocks/popup/__info/popup__info.css);
@import url(blocks/popup/__content/popup__content.css);

/* auth-page */

@import url(blocks/auth-page/__title/auth-page__title.css);
@import url(blocks/auth-page/__button/auth-page__button.css);
@import url(blocks/auth-page/auth-page.css);
@import url(blocks/auth-page/__link/auth-page__link.css);
@import url(blocks/auth-page/__tips/auth-page__tips.css);
@import url(blocks/auth-page/__tip/auth-page__tip.css);
@import url(blocks/auth-page/__button/_disabled/auth-page__button_disabled.css);





/* ================================================================== */


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */