.auth-page__title {
  margin: 0;
  padding: 0;
  margin: 60px auto 48px;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .auth-page__title {
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 0;
  }
}